<ul class="breadcrumb">
	<li><a href="/clients"><i class="icon-briefcase"></i> Workorders</a><span class="divider"></span><li>
	<li ng-hide="loading || workorderType == 'meeting' || workorderType == 'shipment'" class="active">New Workorder<li>
	<li ng-hide="loading || workorderType != 'meeting'" class="active">New Meeting</li>
	<li ng-hide="loading || workorderType != 'shipment'" class="active">New Shipment</li>
</ul>

<header>
	<h1 ng-show="workorderType != 'meeting' && workorderType != 'shipment'">New Workorder</h1>
	<h1 ng-show="workorderType == 'meeting'">New Meeting</h1>
	<h1 ng-show="workorderType == 'shipment'">New Shipment</h1>
</header>
<div class="form">
	<div class="form-section">
		<div class="section-label">Client</div>
		<div class="section-container">
			<div class="form-editor">
				<div class="control-group">
					<label class="control-label">Client</label>
					<div class="controls">
						<input type="hidden" ng-model="clientPicker" ui-select2="clientOpts" />
					</div>
				</div>
				<div class="control-group" ng-show="currentClient.address">
					<label class="control-label"></label>
					<div class="controls">
						<span style="font-weight: bold">{{currentClient.contacts[0].name}}</span>
						<div>
							{{currentClient.address.street1}}<br>
							{{currentClient.address.street2}}<br ng-show="currentClient.address.street2">
							{{currentClient.address.city}}, {{currentClient.address.state}}. {{currentClient.address.zip}}
						</div>
						{{currentClient.contacts[0].phone}}
					</div>
				</div>
				<div class="control-group" ng-show="currentClient.notes['internal']">
					<label class="control-label">Internal Notes</label>
					<div class="controls">{{currentClient.notes['internal']}}</div>
				</div>
                                <div class="control-group" ng-show="currentClient.notes['tech']">
                                        <label class="control-label">Tech Notes</label>
                                        <div class="controls">{{currentClient.notes['tech']}}</div>
                                </div>
				<div class="control-group" ng-show="workorderType != 'shipment'">
					<label class="control-label">Additional E-Mails</label>
					<div class="controls">
                                                <input type="text" ui-select2="emailsOptions" ng-model="model.emails" class="input-xxlarge" />
					</div>
				</div>
				<div class="control-group" ng-show="workorderType != 'shipment'">
					<label class="control-label">Alternative Contact</label>
					<div class="controls">
						<input ng-model="model.alternativeContact" type="text" class="input-large">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-section">
		<div class="section-label">Remarks</div>
		<div class="section-container">
			<div class="form-editor">
				<div class="control-group">
					<label class="control-label">Reason</label>
					<div class="controls">
						<select ng-model="model.reason" name="reason" class="input-xlarge" ng-disabled="{{workorderType == 'pm' || workorderType == 'meeting' || workorderType == 'shipment'}}">
							<option value="Add New Equipment">Add New Equipment</option>
							<option value="As Directed">As Directed</option>
							<option value="Autoclave Repair">Autoclave Repair</option>
							<option value="Calibration">Calibration</option>
							<option value="Delivery">Delivery</option>
							<option value="Diagnose Problem">Diagnose Problem</option>
							<option value="Install Parts">Install Parts</option>
							<option value="Meeting">Meeting</option>
							<option value="New Opportunity">New Opportunity</option>
							<option value="Off">Off</option>
							<option value="PM Reschedule">PM Reschedule</option>
							<option value="Preventive Maintenance">Preventive Maintenance</option>
							<option value="Printer Failure">Printer Failure</option>
							<option value="Repair">Repair</option>
							<option value="Shipment">Shipment</option>
						</select>
					</div>
				</div>
				<div class="control-group" ng-show="model.reason == 'Preventive Maintenance'">
					<label class="control-label">Maintenance Type</label>
					<div class="controls">
						<select ng-model="model.maintenanceType" name="maintenanceType" class="input-xlarge" ng-disabled="{{workorderType == 'pm'}}">
                                                                        <option value="Anesthesia">Anesthesia</option>
                                                                        <option value="Annual">Annual</option>
                                                                        <option value="DLLR">DLLR</option>
                                                                        <option value="ERT">ERT</option>
                                                                        <option value="Ice Maker">Ice Maker</option>
                                                                        <option value="Imaging">Imaging</option>
                                                                        <option value="Medical Device">Medical Device</option>
                                                                        <option value="Medical Gas Systems">Medical Gas Systems</option>
                                                                        <option value="N2O Trace Gas">N2O Trace Gas</option>
                                                                        <option value="Quarterly">Quarterly</option>
                                                                        <option value="RAE">RAE</option>
                                                                        <option value="Semi">Semi</option>
                                                                        <option value="Sterilizer - F">Sterilizer - F</option>
                                                                        <option value="Sterilizer - TT">Sterilizer - TT</option>
                                                                        <option value="Vaporizer">Vaporizer</option>
                                                                        <option value="Waste Management System">Waste Management System</option>
                                                                        <option value="legacy" disabled>legacy</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Remarks</label>
					<div class="controls">
						<textarea ng-model="model.remarks" name="remarks" rows="5" class="input-xxlarge"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-section" ng-show="workorderType != 'shipment'">
		<div class="section-label">Scheduling</div>
		<div class="section-container">
			<div class="form-editor">
				<div class="control-group">
					<label class="control-label">Date</label>
					<div class="controls">
						<span><input ng-model="picker.startDate" datepicker type="text" class="input-small"></span>
						<select ng-model="picker.startTime" name="start" class="input-small">
                                                        <option value="05:00:00">5:00am</option>
                                                        <option value="05:15:00">5:15am</option>
                                                        <option value="05:30:00">5:30am</option>
                                                        <option value="05:45:00">5:45am</option>
                                                        <option value="06:00:00">6:00am</option>
                                                        <option value="06:15:00">6:15am</option>
                                                        <option value="06:30:00">6:30am</option>
                                                        <option value="06:45:00">6:45am</option>
                                                        <option value="07:00:00">7:00am</option>
                                                        <option value="07:15:00">7:15am</option>
                                                        <option value="07:30:00">7:30am</option>
                                                        <option value="07:45:00">7:45am</option>
                                                        <option value="08:00:00">8:00am</option>
                                                        <option value="08:15:00">8:15am</option>
                                                        <option value="08:30:00">8:30am</option>
                                                        <option value="08:45:00">8:45am</option>
                                                        <option value="09:00:00">9:00am</option>
                                                        <option value="09:15:00">9:15am</option>
                                                        <option value="09:30:00">9:30am</option>
                                                        <option value="09:45:00">9:45am</option>
                                                        <option value="10:00:00">10:00am</option>
                                                        <option value="10:15:00">10:15am</option>
                                                        <option value="10:30:00">10:30am</option>
                                                        <option value="10:45:00">10:45am</option>
                                                        <option value="11:00:00">11:00am</option>
                                                        <option value="11:15:00">11:15am</option>
                                                        <option value="11:30:00">11:30am</option>
                                                        <option value="11:45:00">11:45am</option>
                                                        <option value="12:00:00">12:00pm</option>
                                                        <option value="12:15:00">12:15pm</option>
                                                        <option value="12:30:00">12:30pm</option>
                                                        <option value="12:45:00">12:45pm</option>
                                                        <option value="13:00:00">1:00pm</option>
                                                        <option value="13:15:00">1:15pm</option>
                                                        <option value="13:30:00">1:30pm</option>
                                                        <option value="13:45:00">1:45pm</option>
                                                        <option value="14:00:00">2:00pm</option>
                                                        <option value="14:15:00">2:15pm</option>
                                                        <option value="14:30:00">2:30pm</option>
                                                        <option value="14:45:00">2:45pm</option>
                                                        <option value="15:00:00">3:00pm</option>
                                                        <option value="15:15:00">3:15pm</option>
                                                        <option value="15:30:00">3:30pm</option>
                                                        <option value="15:45:00">3:45pm</option>
                                                        <option value="16:00:00">4:00pm</option>
                                                        <option value="16:15:00">4:15pm</option>
                                                        <option value="16:30:00">4:30pm</option>
                                                        <option value="16:45:00">4:45pm</option>
                                                        <option value="17:00:00">5:00pm</option>
                                                        <option value="17:15:00">5:15pm</option>
                                                        <option value="17:30:00">5:30pm</option>
                                                        <option value="17:45:00">5:45pm</option>
                                                        <option value="18:00:00">6:00pm</option>
                                                        <option value="18:15:00">6:15pm</option>
                                                        <option value="18:30:00">6:30pm</option>
                                                        <option value="18:45:00">6:45pm</option>
                                                        <option value="19:00:00">7:00pm</option>
                                                        <option value="19:15:00">7:15pm</option>
                                                        <option value="19:30:00">7:30pm</option>
                                                        <option value="19:45:00">7:45pm</option>
                                                        <option value="20:00:00">8:00pm</option>
                                                        <option value="20:15:00">8:15pm</option>
                                                        <option value="20:30:00">8:30pm</option>
                                                        <option value="20:45:00">8:45pm</option>
                                                        <option value="21:00:00">9:00pm</option>
                                                        <option value="21:15:00">9:15pm</option>
                                                        <option value="21:30:00">9:30pm</option>
                                                        <option value="21:45:00">9:45pm</option>
                                                        <option value="22:00:00">10:00pm</option>
						</select>
						<span>to</span>
						<span><input ng-model="picker.endDate" datepicker type="text" class="input-small"></span>
						<select ng-model="picker.endTime" name="end" class="input-small">
                                                        <option value="05:15:00">5:15am</option>
                                                        <option value="05:30:00">5:30am</option>
                                                        <option value="05:45:00">5:45am</option>
                                                        <option value="06:00:00">6:00am</option>
                                                        <option value="06:15:00">6:15am</option>
                                                        <option value="06:30:00">6:30am</option>
                                                        <option value="06:45:00">6:45am</option>
                                                        <option value="07:00:00">7:00am</option>
                                                        <option value="07:15:00">7:15am</option>
                                                        <option value="07:30:00">7:30am</option>
                                                        <option value="07:45:00">7:45am</option>
                                                        <option value="08:00:00">8:00am</option>
                                                        <option value="08:15:00">8:15am</option>
                                                        <option value="08:30:00">8:30am</option>
                                                        <option value="08:45:00">8:45am</option>
                                                        <option value="09:00:00">9:00am</option>
                                                        <option value="09:15:00">9:15am</option>
                                                        <option value="09:30:00">9:30am</option>
                                                        <option value="09:45:00">9:45am</option>
                                                        <option value="10:00:00">10:00am</option>
                                                        <option value="10:15:00">10:15am</option>
                                                        <option value="10:30:00">10:30am</option>
                                                        <option value="10:45:00">10:45am</option>
                                                        <option value="11:00:00">11:00am</option>
                                                        <option value="11:15:00">11:15am</option>
                                                        <option value="11:30:00">11:30am</option>
                                                        <option value="11:45:00">11:45am</option>
                                                        <option value="12:00:00">12:00pm</option>
                                                        <option value="12:15:00">12:15pm</option>
                                                        <option value="12:30:00">12:30pm</option>
                                                        <option value="12:45:00">12:45pm</option>
                                                        <option value="13:00:00">1:00pm</option>
                                                        <option value="13:15:00">1:15pm</option>
                                                        <option value="13:30:00">1:30pm</option>
                                                        <option value="13:45:00">1:45pm</option>
                                                        <option value="14:00:00">2:00pm</option>
                                                        <option value="14:15:00">2:15pm</option>
                                                        <option value="14:30:00">2:30pm</option>
                                                        <option value="14:45:00">2:45pm</option>
                                                        <option value="15:00:00">3:00pm</option>
                                                        <option value="15:15:00">3:15pm</option>
                                                        <option value="15:30:00">3:30pm</option>
                                                        <option value="15:45:00">3:45pm</option>
                                                        <option value="16:00:00">4:00pm</option>
                                                        <option value="16:15:00">4:15pm</option>
                                                        <option value="16:30:00">4:30pm</option>
                                                        <option value="16:45:00">4:45pm</option>
                                                        <option value="17:00:00">5:00pm</option>
                                                        <option value="17:15:00">5:15pm</option>
                                                        <option value="17:30:00">5:30pm</option>
                                                        <option value="17:45:00">5:45pm</option>
                                                        <option value="18:00:00">6:00pm</option>
                                                        <option value="18:15:00">6:15pm</option>
                                                        <option value="18:30:00">6:30pm</option>
                                                        <option value="18:45:00">6:45pm</option>
                                                        <option value="19:00:00">7:00pm</option>
                                                        <option value="19:15:00">7:15pm</option>
                                                        <option value="19:30:00">7:30pm</option>
                                                        <option value="19:45:00">7:45pm</option>
                                                        <option value="20:00:00">8:00pm</option>
                                                        <option value="20:15:00">8:15pm</option>
                                                        <option value="20:30:00">8:30pm</option>
                                                        <option value="20:45:00">8:45pm</option>
                                                        <option value="21:00:00">9:00pm</option>
                                                        <option value="21:15:00">9:15pm</option>
                                                        <option value="21:30:00">9:30pm</option>
                                                        <option value="21:45:00">9:45pm</option>
                                                        <option value="22:00:00">10:00pm</option>
                                                        <option value="22:15:00">10:15pm</option>
							<option value="22:30:00">10:30pm</option>
							<option value="22:45:00">10:45pm</option>
						</select>
						<span>{{picker.duration}}</span>
					</div>
				</div>
					<div class="control-group">
					<label ng-show="workorderType != 'meeting'" class="control-label">Techs</label>
					<label ng-show="workorderType == 'meeting'" class="control-label">Attendees</label>
					<div class="controls">
						<select multiple ui-select2 ng-model="model.techs" data-placeholder="Choose Employee(s) - Check the schedule below before scheduling."  class="input-xxlarge">
							<option ng-repeat="tech in allUsers" value="{{tech._id}}">{{tech.name.first}} {{tech.name.last}}</option>
						</select>
					</div>
				</div>
				<div class="toolbelt" style="margin: 20px">
					<div class="pull-right">
			            <span class="toolbelt-text">Group: </span>
						<select ng-model="group" name="group" class="input-medium">
							<option ng-repeat="(key, value) in TECH_GROUPS" value="{{key}}">{{value}}</option>
						</select>
					</div>
				</div>
				<techpicker
					users="users"
					schedule="schedule"
					date="picker.startDate"
					start="picker.startTime"
					end="picker.endTime"></techpicker>
			</div>
		</div>
	</div>
	<div class="form-section" ng-show="workorderType == 'shipment'">
		<div class="section-label">Shipment Details</div>
		<div class="section-container">
			<div class="form-editor">
				<div class="control-group">
					<label class="control-label">Date Shipped</label>
					<div class="controls">
						<span><input ng-model="picker.startDate" datepicker type="text" class="input-small"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Tracking Number</label>
					<div class="controls">
						<span><input ng-model="model.trackingNumber" type="text" class="input-small"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-section">
		<div class="section-label">&nbsp;</div>
		<div class="section-container">
                        <button ng-disabled="!model.client" ng-click="save(false)" type="button" class="btn btn-primary">Save</button>
			<button ng-disabled="!model.client" ng-click="save(true)" ng-show="workorderType != 'shipment'" type="button" class="btn">Save & Notify</button>
		</div>
	</div>
</div>
