<ul class="breadcrumb">
	<li><a href="/clients"><i class="icon-briefcase"></i> Workorders</a><span class="divider"></span><li>
	<li ng-hide="loading" class="active">#{{master.biomedId}} - {{master.reason}}<li>
</ul>
<i ng-show="loading" class="loader"></i>
<header ng-hide="loading">
	<h1>#{{master.biomedId}} - {{master.reason}}</h1>
	<p class="lead"><a ng-href="/clients/{{master.client._id}}">{{master.client.name}} ({{master.client.identifier}})</a></p>
	<div ng-show="master.createdBy">Created By: <b>{{master.createdBy.name.first}} {{master.createdBy.name.last}}</b> On <b>{{master.createdOn | date}} {{master.createdOn | time}}</b></div>
	<div ng-show="master.modifiedBy">Last Modified By: <b>{{master.modifiedBy.name.first}} {{master.modifiedBy.name.last}}</b> On <b>{{master.modifiedOn | date}} {{master.modifiedOn | time}}</b></div>
</header>
<div ng-hide="loading" class="tabbable">
	<div class="tab-content">
		<div class="tab-pane active form" title="Details">
			<form name="form" class="form-section" style="margin-bottom: 0">
				<div class="section-label">Status</div>
				<div class="section-container">
					<div class="form-preview">
						<b>{{master.status}}</b><br>
					</div>
				</div>
			</form>

                        <div class="form-section" ng-show="master.reason != 'Shipment'">
                                <div class="section-label">Additional Contact Information</div>
                                <div class="section-container">
                                        <div ng-hide="emails.visible" class="form-preview">
						<span ng-show"master.emails" ng-repeat="email in master.emails"><b>{{email}}</b><span ng-show="!$last">, </span></span>
						<span ng-show="master.alternativeContact">{{master.alternativeContact}}<br></span>
                                                <a ng-click="emails.edit()" ng-class="{disabled: editing}" ng-show="accountHasPermission('system.edit')">Edit</a>
                                        </div>
                                        <div ng-show="emails.visible" class="form-editor">
                                                <div class="control-group">
                                                        <label class="control-label">E-Mails</label>
                                                        <div class="controls">
								<input type="text" ui-select2="emailsOptions" ng-model="emails.model.emails" class="input-xxlarge" />
                                                        </div>
                                                </div>
						<div class="control-group">
							<label class="control-label">Alternative Contact</label>
							<div class="controls">
								<input ng-model="emails.model.alternativeContact" type="text" class="input-large">
							</div>
						</div>
                                                <div class="form-actions">
                                                        <button ng-click="emails.save(false)" type="button" class="btn btn-primary">Save</button>
                                                        <button ng-click="emails.save(true)" type="button" class="btn">Save & Notify</button>
                                                        <button ng-click="emails.reset()" type="button" class="btn">Cancel</button>
                                                </div>
                                        </div>
                                </div>
                        </div>

			<div class="form-section">
				<div class="section-label">Remarks</div>
				<div class="section-container">
					<div ng-hide="remarks.visible" class="form-preview">
						{{master.reason}}<br>
						{{master.remarks}}<br>
						<a ng-click="remarks.edit()" ng-class="{disabled: editing}" ng-show="accountHasPermission('system.edit')">Edit</a>
					</div>
					<div ng-show="remarks.visible" class="form-editor">
						<div class="control-group">
							<label class="control-label">Reason</label>
							<div class="controls">
								<select ng-model="remarks.model.reason" name="reason" class="input-xlarge" ng-disabled="master.reason == 'Shipment' || master.reason == 'Meeting'">
									<option value="Add New Equipment">Add New Equipment</option>
									<option value="As Directed">As Directed</option>
									<option value="Autoclave Repair">Autoclave Repair</option>
									<option value="Calibration">Calibration</option>
									<option value="Delivery">Delivery</option>
									<option value="Diagnose Problem">Diagnose Problem</option>
									<option value="Install Parts">Install Parts</option>
									<option value="Meeting">Meeting</option>
									<option value="New Opportunity">New Opportunity</option>
									<option value="Off">Off</option>
									<option value="PM Reschedule">PM Reschedule</option>
									<option value="Preventive Maintenance">Preventive Maintenance</option>
									<option value="Printer Failure">Printer Failure</option>
									<option value="Repair">Repair</option>
									<option value="Shipment">Shipment</option>
								</select>
							</div>
						</div>
                                		<div class="control-group" ng-show="remarks.model.reason == 'Preventive Maintenance'">
                                        		<label class="control-label">Maintenance Type</label>
                                        		<div class="controls">
								<select ng-model="remarks.model.maintenanceType" name="maintenanceType" class="input-xlarge">
									<option value="Anesthesia">Anesthesia</option>
									<option value="Annual">Annual</option>
									<option value="DLLR">DLLR</option>
									<option value="ERT">ERT</option>
									<option value="Ice Maker">Ice Maker</option>
									<option value="Imaging">Imaging</option>
									<option value="Medical Device">Medical Device</option>
									<option value="Medical Gas Systems">Medical Gas Systems</option>
									<option value="N2O Trace Gas">N2O Trace Gas</option>
									<option value="Quarterly">Quarterly</option>
									<option value="RAE">RAE</option>
									<option value="Semi">Semi</option>
									<option value="Sterilizer -F">Sterilizer -F</option>
									<option value="Sterilizer - TT">Sterilizer - TT</option>
									<option value="Vaporizer">Vaporizer</option>
									<option value="Waste Management System">Waste Management System</option>
									<option value="legacy" disabled>legacy</option>
                                                                </select>
		                                        </div>
		                                </div>

						<div class="control-group">
							<label class="control-label">Remarks</label>
							<div class="controls">
								<textarea ng-model="remarks.model.remarks" name="remarks" rows="5" class="input-xxlarge"></textarea>
							</div>
						</div>
						<div class="form-actions">
							<button ng-click="remarks.save(false)" type="button" class="btn btn-primary">Save</button>
							<button	ng-click="remarks.save(true)" ng-show="master.reason != 'Shipment'" type="button" class="btn">Save & Notify</button>
							<button ng-click="remarks.reset()" type="button" class="btn">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-section" ng-show="master.reason != 'Shipment'">
				<div class="section-label">Devices</div>
				<div class="section-container">
					<div ng-hide="devices.visible" class="form-preview">
						<span>Devices</span>: <strong>{{master.devices.length}}</strong><br>
						<a ng-click="devices.edit()" ng-show="accountHasPermission('system.edit')">Edit</a>
					</div>
					<div ng-show="devices.visible" class="form-editor">
						<div class="control-group">
							<label class="control-label"><span>Devices</span></label>
							<div class="controls">
								{{devices.devices}}
								<select multiple ui-select2 ng-model="devices.model.devices" data-placeholder="Choose Devices(s)"  class="input-xxlarge">
                                    <option ng-repeat="device in allDevices" value="{{device._id}}">
                                            {{device.biomedId}} - {{device.deviceType.make}} {{device.deviceType.model}}
                                    </option>
 								</select>
							</div>
						</div>
						<div class="form-actions">
							<button ng-click="devices.save(false)" type="button" class="btn btn-primary">Save</button>
							<button	ng-click="devices.save(true)" type="button" class="btn">Save & Notify</button>
							<button ng-click="devices.reset()" type="button" class="btn">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-section" ng-show="master.reason != 'Shipment'">
				<div class="section-label">Scheduling</div>
				<div class="section-container">
					<div ng-hide="scheduling.visible" class="form-preview">
						From <strong>{{master.scheduling.start | date}} {{master.scheduling.start | time}}</strong> to <strong>{{master.scheduling.end | date}} {{master.scheduling.end | time}}</strong><br>
						<span ng-show="workorderType != 'meeting'">Techs</span><span ng-show="workorderType == 'meeting'">Attendees</span>: <strong>{{ master.techs | techs }}</strong><br>
						<a ng-click="scheduling.edit()" ng-show="accountHasPermission('system.edit')">Edit</a>
					</div>
					<div ng-show="scheduling.visible" class="form-editor">
						<div class="control-group">
							<label class="control-label">Date</label>
							<div class="controls">
								<span><input ng-model="scheduling.startDate" datepicker type="text" class="input-small"></span>
								<select ng-model="scheduling.startTime" name="start" class="input-small">
                                                        <option value="05:00:00">5:00am</option>
                                                        <option value="05:15:00">5:15am</option>
                                                        <option value="05:30:00">5:30am</option>
                                                        <option value="05:45:00">5:45am</option>
                                                        <option value="06:00:00">6:00am</option>
                                                        <option value="06:15:00">6:15am</option>
                                                        <option value="06:30:00">6:30am</option>
                                                        <option value="06:45:00">6:45am</option>
                                                        <option value="07:00:00">7:00am</option>
                                                        <option value="07:15:00">7:15am</option>
                                                        <option value="07:30:00">7:30am</option>
                                                        <option value="07:45:00">7:45am</option>
                                                        <option value="08:00:00">8:00am</option>
                                                        <option value="08:15:00">8:15am</option>
                                                        <option value="08:30:00">8:30am</option>
                                                        <option value="08:45:00">8:45am</option>
                                                        <option value="09:00:00">9:00am</option>
                                                        <option value="09:15:00">9:15am</option>
                                                        <option value="09:30:00">9:30am</option>
                                                        <option value="09:45:00">9:45am</option>
                                                        <option value="10:00:00">10:00am</option>
                                                        <option value="10:15:00">10:15am</option>
                                                        <option value="10:30:00">10:30am</option>
                                                        <option value="10:45:00">10:45am</option>
                                                        <option value="11:00:00">11:00am</option>
                                                        <option value="11:15:00">11:15am</option>
                                                        <option value="11:30:00">11:30am</option>
                                                        <option value="11:45:00">11:45am</option>
                                                        <option value="12:00:00">12:00pm</option>
                                                        <option value="12:15:00">12:15pm</option>
                                                        <option value="12:30:00">12:30pm</option>
                                                        <option value="12:45:00">12:45pm</option>
                                                        <option value="13:00:00">1:00pm</option>
                                                        <option value="13:15:00">1:15pm</option>
                                                        <option value="13:30:00">1:30pm</option>
                                                        <option value="13:45:00">1:45pm</option>
                                                        <option value="14:00:00">2:00pm</option>
                                                        <option value="14:15:00">2:15pm</option>
                                                        <option value="14:30:00">2:30pm</option>
                                                        <option value="14:45:00">2:45pm</option>
                                                        <option value="15:00:00">3:00pm</option>
                                                        <option value="15:15:00">3:15pm</option>
                                                        <option value="15:30:00">3:30pm</option>
                                                        <option value="15:45:00">3:45pm</option>
                                                        <option value="16:00:00">4:00pm</option>
                                                        <option value="16:15:00">4:15pm</option>
                                                        <option value="16:30:00">4:30pm</option>
                                                        <option value="16:45:00">4:45pm</option>
                                                        <option value="17:00:00">5:00pm</option>
                                                        <option value="17:15:00">5:15pm</option>
                                                        <option value="17:30:00">5:30pm</option>
                                                        <option value="17:45:00">5:45pm</option>
                                                        <option value="18:00:00">6:00pm</option>
                                                        <option value="18:15:00">6:15pm</option>
                                                        <option value="18:30:00">6:30pm</option>
                                                        <option value="18:45:00">6:45pm</option>
                                                        <option value="19:00:00">7:00pm</option>
                                                        <option value="19:15:00">7:15pm</option>
                                                        <option value="19:30:00">7:30pm</option>
                                                        <option value="19:45:00">7:45pm</option>
                                                        <option value="20:00:00">8:00pm</option>
                                                        <option value="20:15:00">8:15pm</option>
                                                        <option value="20:30:00">8:30pm</option>
                                                        <option value="20:45:00">8:45pm</option>
                                                        <option value="21:00:00">9:00pm</option>
                                                        <option value="21:15:00">9:15pm</option>
                                                        <option value="21:30:00">9:30pm</option>
                                                        <option value="21:45:00">9:45pm</option>
                                                        <option value="22:00:00">10:00pm</option>
								</select>
								<span>to</span>
								<span><input ng-model="scheduling.endDate" datepicker type="text" class="input-small"></span>
								<select ng-model="scheduling.endTime" name="end" class="input-small">
                                                        <option value="05:15:00">5:15am</option>
                                                        <option value="05:30:00">5:30am</option>
                                                        <option value="05:45:00">5:45am</option>
                                                        <option value="06:00:00">6:00am</option>
                                                        <option value="06:15:00">6:15am</option>
                                                        <option value="06:30:00">6:30am</option>
                                                        <option value="06:45:00">6:45am</option>
                                                        <option value="07:00:00">7:00am</option>
                                                        <option value="07:15:00">7:15am</option>
                                                        <option value="07:30:00">7:30am</option>
                                                        <option value="07:45:00">7:45am</option>
                                                        <option value="08:00:00">8:00am</option>
                                                        <option value="08:15:00">8:15am</option>
                                                        <option value="08:30:00">8:30am</option>
                                                        <option value="08:45:00">8:45am</option>
                                                        <option value="09:00:00">9:00am</option>
                                                        <option value="09:15:00">9:15am</option>
                                                        <option value="09:30:00">9:30am</option>
                                                        <option value="09:45:00">9:45am</option>
                                                        <option value="10:00:00">10:00am</option>
                                                        <option value="10:15:00">10:15am</option>
                                                        <option value="10:30:00">10:30am</option>
                                                        <option value="10:45:00">10:45am</option>
                                                        <option value="11:00:00">11:00am</option>
                                                        <option value="11:15:00">11:15am</option>
                                                        <option value="11:30:00">11:30am</option>
                                                        <option value="11:45:00">11:45am</option>
                                                        <option value="12:00:00">12:00pm</option>
                                                        <option value="12:15:00">12:15pm</option>
                                                        <option value="12:30:00">12:30pm</option>
                                                        <option value="12:45:00">12:45pm</option>
                                                        <option value="13:00:00">1:00pm</option>
                                                        <option value="13:15:00">1:15pm</option>
                                                        <option value="13:30:00">1:30pm</option>
                                                        <option value="13:45:00">1:45pm</option>
                                                        <option value="14:00:00">2:00pm</option>
                                                        <option value="14:15:00">2:15pm</option>
                                                        <option value="14:30:00">2:30pm</option>
                                                        <option value="14:45:00">2:45pm</option>
                                                        <option value="15:00:00">3:00pm</option>
                                                        <option value="15:15:00">3:15pm</option>
                                                        <option value="15:30:00">3:30pm</option>
                                                        <option value="15:45:00">3:45pm</option>
                                                        <option value="16:00:00">4:00pm</option>
                                                        <option value="16:15:00">4:15pm</option>
                                                        <option value="16:30:00">4:30pm</option>
                                                        <option value="16:45:00">4:45pm</option>
                                                        <option value="17:00:00">5:00pm</option>
                                                        <option value="17:15:00">5:15pm</option>
                                                        <option value="17:30:00">5:30pm</option>
                                                        <option value="17:45:00">5:45pm</option>
                                                        <option value="18:00:00">6:00pm</option>
                                                        <option value="18:15:00">6:15pm</option>
                                                        <option value="18:30:00">6:30pm</option>
                                                        <option value="18:45:00">6:45pm</option>
                                                        <option value="19:00:00">7:00pm</option>
                                                        <option value="19:15:00">7:15pm</option>
                                                        <option value="19:30:00">7:30pm</option>
                                                        <option value="19:45:00">7:45pm</option>
                                                        <option value="20:00:00">8:00pm</option>
                                                        <option value="20:15:00">8:15pm</option>
                                                        <option value="20:30:00">8:30pm</option>
                                                        <option value="20:45:00">8:45pm</option>
                                                        <option value="21:00:00">9:00pm</option>
                                                        <option value="21:15:00">9:15pm</option>
                                                        <option value="21:30:00">9:30pm</option>
                                                        <option value="21:45:00">9:45pm</option>
                                                        <option value="22:00:00">10:00pm</option>
                                                        <option value="22:15:00">10:15pm</option>
							<option value="22:30:00">10:30pm</option>
							<option value="22:45:00">10:45pm</option>
								</select>
								<span>{{scheduling.duration}}</span>
							</div>
						</div>
	
						<div class="control-group">
							<label class="control-label"><span ng-show="workorderType != 'meeting'">Techs</span><span ng-show="workorderType == 'meeting'">Attendees</span></label>
							<div class="controls">
								<select multiple ui-select2 ng-model="scheduling.techs" data-placeholder="Choose Employee(s) - Check the schedule below before scheduling"  class="input-xxlarge">
									<option ng-repeat="tech in allUsers" value="{{tech._id}}">{{tech.name.first}} {{tech.name.last}}</option>
								</select>
							</div>
						</div>
						<div class="toolbelt" style="margin: 20px">
							<div class="pull-right">
					            <span class="toolbelt-text">Group: </span>
								<select ng-model="group" name="group" class="input-medium">
									<option ng-repeat="(key, value) in TECH_GROUPS" value="{{key}}">{{value}}</option>
								</select>
							</div>
						</div>
						<techpicker
							users="users"
							schedule="scheduling.schedule"
							date="scheduling.startDate"
							start="scheduling.startTime"
							end="scheduling.endTime"></techpicker>
						<div class="form-actions">
							<button ng-click="scheduling.save(false)" type="button" class="btn btn-primary">Save</button>
							<button	ng-click="scheduling.save(true)" type="button" class="btn">Save & Notify</button>
							<button ng-click="scheduling.reset()" type="button" class="btn">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-section" ng-show="master.reason == 'Shipment'">
				<div class="section-label">Shipment Details</div>
				<div class="section-container">
					<div ng-hide="scheduling.visible" class="form-preview">
						Shipped <strong>{{master.scheduling.start | date }}</strong><br>
						Tracking Number: <strong><a ng-href="https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers={{master.trackingNumber}}" target="new">{{master.trackingNumber}}</a></strong><br>
						<a ng-click="scheduling.edit()" ng-show="accountHasPermission('system.edit')">Edit</a>
					</div>
					<div ng-show="scheduling.visible" class="form-editor">
						<div class="control-group">
							<label class="control-label">Shipping Date</label>
							<div class="controls">
								<span><input ng-model="scheduling.startDate" datepicker type="text" class="input-small"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Tracking Number</label>
							<div class="controls">
								<span><input ng-model="scheduling.model.trackingNumber" type="text" class="input-small"></span>
							</div>
						</div>
	
						<div class="form-actions">
							<button ng-click="scheduling.save(false)" type="button" class="btn btn-primary">Save</button>
							<button ng-click="scheduling.reset()" type="button" class="btn">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			<form name="form" class="form-section" style="margin-bottom: 0">
				<div class="section-label">Billing</div>
				<div class="section-container">
					<div ng-hide="status.visible" class="form-preview">
						<span ng-show="master.invoiceNumber">Invoice Number: <b>{{master.invoiceNumber}}</b><br></span>
						<span ng-show="master.checkNumber">Check Number: <b>{{master.checkNumber}}</b><br></span>
						<a ng-click="status.edit()" ng-class="{disabled: editing}" ng-show="accountHasPermission('system.edit.billing')">Edit</a>
					</div>
					<div ng-show="status.visible" class="form-editor">
						<div class="control-group">
							<label class="control-label">Invoice Number</label>
							<div class="controls">
								<input ng-disabled="status.model.checkNumber" ng-model="status.model.invoiceNumber" type="text" class="input-small">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Check Number</label>
							<div class="controls">
								<input ng-disabled="!status.model.invoiceNumber" ng-model="status.model.checkNumber" type="text" class="input-small">
							</div>
						</div>
						<div class="form-actions">
							<button ng-disabled="form.$invalid" ng-click="status.save(false)" type="button" class="btn btn-primary">Save</button>
							<button ng-disabled="form.$invalid" ng-click="status.save(true)" ng-show="master.reason != 'Shipment'" type="button" class="btn">Save & Notify</button>
							<button ng-click="status.reset()" type="button" class="btn">Cancel</button>
						</div>
					</div>
				</div>
			</form>
			<div class="form-section">
				<div class="section-label">Other</div>
				<div class="section-container">
					<button ng-click="destroy()" type="button" class="btn btn-danger">Remove
						<span ng-show="master.reason != 'Meeting' && master.reason != 'Shipment'">workorder</span>
						<span ng-show="master.reason == 'Meeting'">meeting</span>
						<span ng-show="master.reason == 'Shipment'">shipment</soan>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
